{% extends "CoreBundle::Default/base.html.twig" %}

{% block content %}

{% if developer_help %}

    {% set documentation = unusable_record|pivotx_documentation(entity) %}

<h1>Fall-back template for {{ entity }}</h1>

<p>
    You are now viewing the fall-back template for entity "{{ entity }}", meaning
    you have not configured your own template yet.
</p>
<p>
    In this document we help you to create your own template.
</p>


<h2>Table of contents</h2>

<ol>
    <li><a href="#configure">How to configure</a></li>
    <li><a href="#fields">Available fields and how to use them</a></li>
    <li><a href="#dump">Dump of {{ entity }} with id {{ unusable_record.id }}</a></li>
</ol>


<h2 id="configure">How to configure</h2>

<p>
    We suggest you create the following template: <strong>{{ documentation.template_suggestion }}</strong>.
</p>

<p>
    Paste the following snippet to jump-start your template:
</p>

{{ documentation.template_example }}


<h2 id="fields">Available fields and how to use them</h2>


<dl>
{% for example in documentation.examples %}
    <dt>{{ example.title }}</dt>
    <dd>{{ example.snippet }}</dd>
    <dd>{{ example.description }}</dd>
{% endfor %}
</dl>


<h2 id="dump">Dump of {{ entity }} with id {{ unusable_record.id }}</h2>

{{ pxdump(unusable_record) }}

{% endif %}

{{ pxdump(routing) }}

{% endblock %}
