{#
    The is the base template for all defaults.
#}
<!DOCTYPE html>
<html lang="{{ app.request.get('_language') }}">

    <head>
        {{ outputter('headStart') }}

        <meta charset="{{ html.meta.charset }}">

        <title>{{ html.title }}</title>

        {{ outputter('titleAfter') }}

        <!-- @todo move this to a proper file -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <style type="text/css">

        dl.dl-horizontal dt,
        dl.dl-horizontal dd {
            margin-bottom: 1em;
        }

        </style>
        
        {{ outputter('headEnd') }}
    </head>

    <body>
        {{ outputter('bodyStart') }}

        <div class="container">
        {% block content %}

        <h1>Oops!</h1>

        <p>Something went wrong.</p>

        {% endblock %}
        </div>

        {{ outputter('bodyEnd') }}
    </body>

</html>
